*{
    box-sizing: border-box;
}
.rowSingle{
margin-top:20px;
}

.biggerText{
    font-size:22px;
    font-weight:700;
}
.img-responsive{
    width:150px;
    margin-top:20px;
    padding:10px;
}
table, th, td{
    border:1px solid black;
}
.details{
    width:30px;
}
.modal{
    z-index: 100;
    position:fixed;
    top:30%;
    left:5%;
}
.col-3{
    float: left;
    width: 33%;
}
.col-9{
    float: left;
    width:66%;
}
.report-data{
    font-size: 18px;
    font-weight: 700;
}
.close{
   width:30px;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;    
}